<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="linear_scale" type="double" value="0.3" />
   <param name="angular_scale" type="double" value="1.5" />
    <param name="topic" type="str" value="cmd_vel" />
    <param name="Type_test" type="int" value="1"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find projet)/worlds/Projet2023.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>


  <!-- Spwan turtlebot in Gazebo -->
  
  <param name="robot_description" command="$(find xacro)/xacro $(find projet)/urdf/turtlebot3.urdf.xacro " />
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x -1.7 -y -0.1 -z 0 -Y -1.55 -param robot_description" /> 
  <!--lancement du fichier pour le challenge 3-->
 <node pkg="projet" name="Arrena_mvt" type="arrene.py"/>
 

</launch>